<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%= name %></h1>
    
    <h4>Your books:</h4>
    
       
    <ul>
    
        <% for (var myBook of myBooks) { %>
            
        <%if (myBook.isReferenceBook == true) { %>
            <% var reference = "Yes" %>
            <% } else { %>
            <% var reference = "No" %>
                <% } %>
             
            <div class="col s12 m7">
                <div class="card horizontal">
        <!-- <li><a href = "http://localhost:3000/books/<%= myBook._id %>">Title: <%= myBook.title %> Subject:<%= myBook.subject %> Grade <%= myBook.grade %></a> </li>
        --> 
            <div class="card-stacked">
                <div class="card-content">
                    
                    
                    <h4><%= myBook.title %></h4>
                    <h7>Subject: <%= myBook.subject %></h7><br>
                    <h7>Grade: <%= myBook.grade %></h7><br>
                    <h7>Is it a reference book: <%= reference%></h7>
                  
                </div>
                
                <div class="card-action">
                    <div class = "row">
                        
                    <div class="col s6">
                  <a href="/books/<%= myBook._id %>">Open</a></div>
                  <div class="col s6">
                  
                    <button onclick="document.getElementById('id01').style.display='block'" class = "btn red"><i class="fas fa-trash"></i></button>
                    <div id="id01" class="modal">
                      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                      <form  method="POST" action="/books/<%= myBook._id %>?_method=DELETE">
                            <div class="container">
                          <h1>Delete Book</h1>
                          <p>Are you sure you want to delete <%= myBook.title %>?</p>
                        
                          <div class="clearfix">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn green">Cancel</button>
                             <button type="submit" class="btn red">
                                  Delete
                              </button>
                        
                          </div>
                        </div>
                      </form>
                    </div>
                    
                  </div>
                </div></div>
                
            </div>
            </div>
            </div>
            <script>
              // Get the modal
              var modal = document.getElementById('id01');
              
              // When the user clicks anywhere outside of the modal, close it
              window.onclick = function(event) {
                if (event.target == modal) {
                  modal.style.display = "none";
                }
              }
              </script>
        
        </form>
        <% }%>
  
    </ul>
    <!--Checking for no results-->
    <% try { myBook.title}
    catch(err){ %>
        <h1>You do not have any books</h1>
        <a href="/sell">Sell some books here</a>
    <%} %>
    
    
    
</body>
</html>