<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%= name %></h1>
    <h1>All Books</h1>
    <ul>
        <% for (var title of data) { %>
        <li><a href = "/books/<%= title._id %>">Title: <%= title.title %> Subject:<%= title.subject %> Grade <%= title.grade %></a> </li>
        <form  method="POST" action="/books/<%= title._id %>?_method=DELETE">
            <button type="submit">Delete</button>
        
        </form>
        <% }%>
    </ul>
 
    
</body>
</html>