<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <title>Document</title>
</head>
<body>
    <div class = "row">
        <div class= "column">
    <h1> Title : <%= bookProps.title %></h1>
    <% for (const images of bookProps.image_ids ){ %>
        <img src= <%= images%> width="400"  >
    <%} %>
</div>
</div>
    <p>Subject : <%= bookProps.subject %></p>
    <p>Grade : <%= bookProps.grade %></p>
    <p>Seller: <%= bookProps.username %></p>
    <p>Description: <%= bookProps.description %></p>
  
</body>
</html>



